body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  font-size: 28px;
  text-align: center;
  margin-top: 0;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

input[type="text"] {
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
}

form {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

p {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #555;
}

#ocena {
  margin-bottom: 15px;
}

footer {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: green;
  color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4vh;
}

footer nav {
  margin: 10px;
}

footer nav a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

@media (max-width: 768px) {
  footer {
    text-align: center;
  }
}
